@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "@heroui/styles"; 


.slider .swiper-pagination {
  position: relative !important;
  margin-top: 40px;
}

.slider .swiper-pagination-bullet {
  @apply bg-gray-500;
}

.slider .swiper-pagination-bullet-active {
  @apply bg-cyan-400;
}

@theme{
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: "Work Sans", sans-serif;


  --color-success: #0FF1F6;    
  --color-primary: #002228;
  --color-secondary: #96ACAF;
  --color-background: #07292F;

}